[Desktop Entry]
Categories={{categories}}
{{#if comment}}Comment={{comment}}{{/if}}
Exec={{exec}}{{#if mime_type}} %u{{/if}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
Keywords=Lean;proof assistant;theorem;mathematics;formal methods;logic;
{{#if mime_type}}MimeType={{mime_type}}{{/if}}
